In [9]:
import pandas as pd
data=pd.read_csv("/Users/mac/Dev/2022_SE03/data/raw_20k_data.csv")

/var/folders/0j/2h4f0bj12r775fg_s2v4hpqh0000gn/T/ipykernel_7383/3013472152.py:2: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  data=pd.read_csv("/Users/mac/Dev/2022_SE03/data/raw_20k_data.csv")

In [10]:
# df là DataFrame của bạn
data = data.dropna(axis=1, how='all')

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260607 entries, 0 to 260606
Data columns (total 29 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   pkSeqID       260607 non-null  int64
 1   stime         260607 non-null  float64
 2   flgs          260607 non-null  object
 3   proto         260607 non-null  object
 4   saddr         260607 non-null  object
 5   sport         260005 non-null  object
 6   daddr         260607 non-null  object
 7   dport         260005 non-null  object
 8   pkts          260607 non-null  int64
 9   bytes         260607 non-null  int64
 10  state         260607 non-null  object
 11  ltime         260607 non-null  float64
 12  seq           260607 non-null  int64
 13  dur           260607 non-null  float64
 14  mean          260607 non-null  float64
 15  stddev        260607 non-null  float64
 16  sum           260607 non-null  float64
 17  min           260607 non-null  float64
 18  max           260607 non-null  float64
 19  spkts         260607 non-null  int64
 20  dpkts         260607 non-null  int64
 21  sbytes        260607 non-null  int64
 22  dbytes        260607 non-null  int64
 23  rate          260607 non-null  float64
 24  srate         260607 non-null  float64
 25  drate         260607 non-null  float64
 26  attack        260607 non-null  int64
 27  category      260607 non-null  object
 28  subcategory   260607 non-null  object
dtypes: float64(11), int64(9), object(9)
memory usage: 57.7+ MB

In [12]:
from data_work import processed
last=processed(data,"subcategory ")

In [13]:
last

,subcategory,pkSeqID,stime,flgs,proto,saddr,sport,daddr,dport,pkts,...,max,spkts,dpkts,sbytes,dbytes,rate,srate,drate,attack,category
0,7,188809,130743,0,6,5,12626,37,6775,5,...,50611,5,0,142,0,17552,25490,0,1,1
1,6,243306,194056,10,5,8,47412,34,6775,1,...,0,1,0,121,0,2373,3683,0,1,0
2,7,143289,99255,0,6,5,51883,37,6775,5,...,48186,5,0,142,0,13025,21877,0,1,1
3,4,85020,74004,0,5,5,56325,40,3137,1,...,296,0,1,1,2,58423,0,0,1,3
4,1,130584,153341,0,5,10,58481,28,4782,2,...,13833,0,2,5,16,1201,0,278,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260602,6,256290,206910,10,5,8,58871,34,6775,1,...,0,1,0,121,0,2438,3722,0,1,0
260603,5,22173,20523,0,5,5,41366,34,3031,12,...,27201,6,6,250,181,48611,40558,33850,1,3
260604,7,147386,102715,11,6,7,21276,39,6775,4,...,54385,4,0,119,0,9595,17113,0,1,1
260605,6,254103,204723,10,5,8,58341,34,6775,1,...,0,1,0,121,0,2447,3731,0,1,0
260606,5,360,362,0,5,8,23509,34,1348,1,...,73,0,1,1,2,59149,0,0,1,3

In [14]:
last.to_csv("/Users/mac/Dev/2022_SE03/data/processed_20k.csv",index=False)